*{
    box-sizing: border-box;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
}

.headerContent{
    max-width: 900px;
    margin: 40px auto;
}

.headerContent img{
    width: 150px;
}

.container{
    margin: 0 auto;
    display: flex;
    max-width: 900px;
}

.leftSize{
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-right: 40px;
}

.leftSize input{
    border: none;
    border-bottom: 1px solid #000;
    outline: none;
    padding: 8px 0px;
    margin: 20px 0;
}
.leftSize input:disabled{
    opacity: .5;
}

.leftSize button{
    color: #fff;
    background-color: rgb(32, 50, 151);
    border: none;
    border-radius: 15px;
    padding: 15px 0px;
    margin-top: 20px;
    cursor: pointer;
    transition: all .4s;
    font-size: 1.2rem;
}

.leftSize button:hover{
    opacity: .8;
}
.leftSize button:disabled{
    opacity: .5;
}

.rightSize{
    flex: 1;
    margin-left: 40px;
    display: flex;
}

.rightSize .grid{
    flex: 1;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.rightBig{
    flex: 1;
    display: flex;
   
}

.rightArrow{
    cursor: pointer;
    position: absolute;
    margin-top: 160px;
    margin-left: -30px;
    background-color: #227c9d;
    border-radius:50%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 65px;
    width: 65px;
    transition: all 0.4;
}

.rightArrow:hover{
    opacity: .8;
}




@media (max-width: 930px) {
    .main{
        margin: 0 20px;
    }
}

@media (max-width: 770px) {
    .container{
        flex-direction: column;
    }

    .leftSize{
        margin-right: 0;
    }

    .rightSize{
        margin: 40px 0 30px 0;
    }
}

@media (max-width: 450px) {
    .rightSize .grid{
        grid-template-columns: repeat(1, 1fr);
    }
}